body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pokemon-Normal';
  src:url('Pokemon-Normal.ttf.woff') format('woff'),
      url('Pokemon-Normal.ttf.svg#Pokemon-Normal') format('svg'),
      url('Pokemon-Normal.ttf.eot'),
      url('Pokemon-Normal.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

header {
  /* background-image: linear-gradient(to bottom right, #ff0000, #640707); */
  background-color: #cc0000;
}

header h1 { 
  font-family: 'Pokemon-Normal', Helvetica, sans-serif;
  font-size: 3.5em;
  text-shadow: 4px 4px 10px #b3a225;
  -webkit-text-stroke: 1px #3b4cca;
	-webkit-text-fill-color: #ffde00;
  text-align: center;
  margin: 0px;
}  

nav {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #b3a225;
  padding: 10px 0px;
  align-content: baseline;
}

nav a {
  margin: 0px 10px;
  text-decoration: none;
  color: #3b4cca;
}

nav a.active {
  font-family: 'Pokemon-Normal', Helvetica, sans-serif;
  font-size: x-large;
}

div#pokedex {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.dex-card {
  border: 1px solid black;
}

div.dex-modal{
  border-style: solid;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  min-width: 150px;
  position: fixed;
  top: 30%;
  left: 30%;
  transition: all 5s ease-in-out;
}

div.game-result-modal {
  border-style: solid;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  min-width: 150px;
  position: fixed;
  top: 30%;
  left: 30%;
  transition: all 5s ease-in-out;
}

.capitalize {
  text-transform: capitalize;
}

/* div.game {
  display:flex;
  flex-wrap: wrap;
} */


div#game-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  flex-grow: 2;
}

div#game-matches {
  flex-grow: 1;
}

div.game-card img {
  width: 96px;
  height: 96px;
  margin: 5px;
  border-radius: 5px;
}

div.hidden {
  visibility: hidden;
}

img.uncaught {
  opacity: 0.5;
}